*{
	margin: 0;
	padding: 0;
}

li{
	display: block;
	list-style: none;
	width: 50%;
	color: #31708f;
	background-color: #d9edf7;
	border-color: #bce8f1;
	padding: 15px;
	margin-bottom: 20px;
	border: 1px solid transparent;
	border-radius: 4px;
}
.content{
	margin-top: 10px;
}
